<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
  </head>
  <body>
    <%= form_tag '/signin' do %>
      <%= label_tag :name %>
      <%= text_field_tag 'user[name]' %>
      <%= label_tag :password %>
      <%= password_field_tag 'user[password]' %>
      <%= submit_tag "Sign In" %>
    <% end %>
  </body>
</html>
